

.middle-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #333333;
    padding: 30px;
    padding-left: 15vw;
}

.details {
    color: white;
    padding-left: 30px;

}
.details-header
{
    color:var(--brand-secondary);
    font-weight: bold;
}
.details ion-icon{
    color:goldenrod;
  }
  .description-paragraph{
    padding-top: 15px;
  }
.details-card {
    width: 15vw;
    /* height: 25vw; */
    background-color: white;
    position: absolute;
    right: 25vw;
    top: 30px;
    border: 1px solid white;


}

.details-card img {
    width: 100%;
    height: auto;
}

.interested-the-topic {
    border: 1px solid #ededed;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

.Unlimited-credits-paragraph {
    text-align: center;
    color: gray;
    padding-top: 10px;
}

.interested-the-topic button {
    color: white;
    background-color: var(--brand-secondary);
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 11px;
    margin-right: 3px;
    width: 12vw;
}
.interested-paragraph{
    padding-bottom: 10px;
}
a{
    color: var(--brand-primary);
    text-decoration: underline;
    cursor: pointer;
  }
  .header-detalis-card{
font-weight: bold;
padding: 10px;
  }
.sub-topics {
    color: var(--body-text);
    background-color: var(--bg_default);
    border: 1px solid var(--lines-color);
    width: 40%;
    margin-top: 30px;
    margin-left: 30px;
    margin-left: 17vw;

}

.header-sub-topic {
    padding: 15px;
}

.first-sub-topic,
.second-sub-topic,
.third-sub-topic,
.fourth-sub-topic,
.fifth-sub-topic,
.sexth-sub-topic {
    border-top: 1px solid var(--lines-color);
    padding: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.sub-topics ion-icon {
    color: var(--brand-secondary);
    font-size: 18px;
}