:root {
    --brand-primary: #0768ac;
    --brand-secondary: #03c180;
    --bg_default: #ffffff;
    --bg_body: #f0f9ff;
    --lines-color: #dddddd;
    --body-text: #333333;
    --heart-color: #dc143c;
  
  }
  .dark-mode {
    --brand-primary: #0768ac;
    --brand-secondary: #03c180;
    --bg_default: #1a1a1a;
    --bg_body: #282828;
    --lines-color: #000000;
    --body-text: #ededed;
    --heart-color: #dc143c;
  }
  
  a{
    color: var(--brand-primary);
    text-decoration: underline;
    cursor: pointer;
  }
  
  .main-body{
   background-color:var(--bg_body);
   padding: 0;
  }
  
  .details-section{
    background-color:black;
    width: 50%;
  }
  .details-section h1{
    color:var(--brand-secondary);
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 30px;
    padding-left: 30px;

  }
  .details-section h2{
    color:white;
    font-weight: bold;
    padding-top: 20px;
        padding-left: 30px;

  }
  .details-section p{
    color:white;
    padding-bottom: 20px;
    padding-left: 30px;

  }
  
  .details-section ion-icon{
    color:goldenrod;
  }
  .sub-topics{
    color:var(--body-text);
    background-color: var(--bg_default);
    border: 1px solid var(--lines-color);;
    width: 38vw;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;

  }
  .sub-topics h2{
    margin-left: 20px;
    font-weight: bold;
  }
  .first-sub-topic ,.second-sub-topic,.third-sub-topic,.fourth-sub-topic,.fifth-sub-topic,.sexth-sub-topic{
  border-top: 1px solid var(--lines-color);
  padding-left: 20px;
  font-weight: bold;
  }
  .first-sub-topic p, .second-sub-topic p,.third-sub-topic p,.fourth-sub-topic p,.fifth-sub-topic p,.sexth-sub-topic p{
    display: inline-block;
    }
    
  .first-sub-topic ion-icon,.second-sub-topic ion-icon,.third-sub-topic ion-icon,.fourth-sub-topic ion-icon,.fifth-sub-topic ion-icon,.sexth-sub-topic ion-icon{
    display: inline-block; 
    color: var(--brand-secondary);
    font-size: 18px;
  }
  .details-box{
    background-color: white;
    position: absolute;
    right: 20vw;
    top:20px;
    border: 1px solid white;
  }
  .middle-section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #000000;
  }
  .details-box > p{
    font-weight: bold;
    margin-left: 9px;
  }
  .details-box img{
    width: 15vw;
    height: 15vw;
  }
  .interested-the-topic{
    border: 1px solid #ededed;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 10px;
    padding-left: 9px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .Unlimited-credits-paragraph
  {
    text-align: center;
    color: gray;
  }
  .interested-the-topic button{
    color: white;
    background-color: var(--brand-secondary);
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 11px;
    margin-right: 3px;
    width: 12vw;
  }  
  /* responsive from 320px to 480px */
  @media(min-width:320px) and (max-width:480px)
  {
    
  .details-section h1{
    font-size: 11px;
    padding-left: 6vw;
  }
  .details-section p{
    margin-left: 6vw;
    font-size:4px
  }
  .details-box{
    right:10vw;
    
  }
  .details-box > p{
    margin-left: 9px;
    font-size: 8px;
  }
  
  .interested-the-topic{
    
    font-size: 6px;
  }
  
  .interested-the-topic button{
    font-size: 6px;
    width: 25vw;
  } 
  .sub-topics{
   
    width: 80%;
    margin: 0 auto ;
    margin-top: 10px;
  
  }
  .sub-topics h2{
    font-size: 12px;
  }
  
  .first-sub-topic p, .second-sub-topic p,.third-sub-topic p,.fourth-sub-topic p,.fifth-sub-topic p,.sexth-sub-topic p{
    font-size: 5px;
    }
    
  .first-sub-topic ion-icon,.second-sub-topic ion-icon,.third-sub-topic ion-icon,.fourth-sub-topic ion-icon,.fifth-sub-topic ion-icon,.sexth-sub-topic ion-icon{
    font-size: 7px;
  }
  .details-box img {
    width: 37vw;
    height: 13vw;
  }
  }
    /* responsive from 481px to 768px */
 @media (min-width: 481px) and (max-width: 768px) {
  .details-section h1{
    font-size: 15px;
    margin-left: 6vw;
    padding-top: 21px;
  }
  .details-section p{
    margin-left: 6vw;
    font-size:6px
  }
  
  .details-box{
    right:8vw;
    
  }
  
  
  .interested-the-topic button{
    font-size: 6px;
    width: 25vw;
  } 
  .sub-topics{
    margin-left: 4vw;
    width: 49vw;
  }
  .sub-topics h2{
    font-size: 12px;
  }
  
  .first-sub-topic p, .second-sub-topic p,.third-sub-topic p,.fourth-sub-topic p,.fifth-sub-topic p,.sexth-sub-topic p{
    font-size: 8px;
    }
    
  .first-sub-topic ion-icon,.second-sub-topic ion-icon,.third-sub-topic ion-icon,.fourth-sub-topic ion-icon,.fifth-sub-topic ion-icon,.sexth-sub-topic ion-icon{
    font-size: 9px;
  }
  .details-box img {
    width: 100%;
    }
    
  }
    /* responsive from 769px to 1024px */
  @media (min-width: 769px) and (max-width: 1024px) {
  .details-section h1{
    font-size: 19px;
    margin-left: 6vw;
    padding-top: 21px;
  }
  .details-section p{
    margin-left: 6vw;
    font-size:12px
  }
  .details-box{
    right: 30px;
  }
  
  
  .interested-the-topic button{
    width: 25vw;
  } 
  .sub-topics{
   
    margin-left: 4vw;
    width: 49vw;
  
  }
  .sub-topics h2{
    font-size: 20px;
  }
  
  .first-sub-topic p, .second-sub-topic p,.third-sub-topic p,.fourth-sub-topic p,.fifth-sub-topic p,.sexth-sub-topic p{
    font-size: 15px;
    }
    
  .first-sub-topic ion-icon,.second-sub-topic ion-icon,.third-sub-topic ion-icon,.fourth-sub-topic ion-icon,.fifth-sub-topic ion-icon,.sexth-sub-topic ion-icon{
    font-size: 13px;
  }
  .details-box img {
    width: 100%;
    
  }
  }
    
  
  
  