:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;

}
.dark-mode {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
}

body{
  font-family: 'Nunito Sans';
  color: var(--body-text);
  background-color: var( --bg_default);

}
.header-container{
  display: flex;
}
.header-container  p{
  margin-left: 30px;
  margin-top: 15px;
  color:var(--brand-primary);
  font-weight: bold; 
  font-size: larger; 
}
.header-container button{
  border: 1px solid var(--lines-color);
  border-radius: 5px;
  background-color: var( --bg_default);
  color: var(--body-text);
  height: 30px;
  margin-top: 15px;
  border: 1px solid var(--lines-color);
  border-radius: 10px;
}
.header-container .favourites-button
{
    margin-left: 5px;
}
.header-container .dark-mode-button{
    margin-left: 72vw;

}
.triangle-blue {
  position: absolute;
    left: 0;
    margin-top: -63px;
    width: 0;
    height: 0;
    border-left: 89vw solid var(--brand-primary);
    
    border-right: 0vw;
    border-bottom: 6vw solid transparent;
    border-top: 0px solid transparent;
    z-index: 2;
}
.triangle-container{
  position: relative;
}
.triangle-green {
  
    position: absolute;
    left: 0;
    margin-top: -73px;
    width: 12vw;
    height: 10px;
    border-left: 86vw solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 3vw solid var(--brand-secondary);
    ;
    border-top: 0px solid transparent;
    z-index: 1;

}
.the-welcome .welcome-msg{
  color:var(--brand-secondary);
  margin-top: 5vw;
  text-align: center;
  display: block;
  font-size: 1rem;
  
}
.paragraph-under-header{
  margin-top: -15px;
  margin-left: 42vw;
}
.main-body{
 background-color:var(--bg_body);
 
}
.search-input-icon{
  display: flex;
}
.search-input-icon input{
  border: none;
  width: 65vw;
  background-color: var( --bg_default);

}
.the-select{
  display: flex;
  gap:0;
}
.sortlabel-sortselect{
border:none;
border-right: 1px solid  var(--lines-color);
border-left: 1px solid var(--lines-color);
background-color: var( --bg_default);
}
.sortlabel-sortselect label{
  display: block;
  font-size: 10px;
  margin-left: 11px;
  font-weight: 600;
}
.sortlabel-sortselect select{
  display: block;
  border: none;
  width: 12vw;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: var( --bg_default);
  color: var(--body-text);


}
.filterlabel-filterselect{
  background-color: var( --bg_default);
  border: none;
  border-right: 1px solid  var(--lines-color);
  box-shadow: 0px 0px 10px  var(--lines-color);
  border-top-right-radius: 10px;

}
.filterlabel-filterselect label{
  display: block;
  font-size: 10px;
  margin-left: 11px;
  font-weight: 600;
}
.filterlabel-filterselect select{
  display: block;
  border: none;
  width: 11vw;
  padding-left: 5px;
  background-color: var( --bg_default);
  color: var(--body-text);

}
.search-input-icon ion-icon{
  margin-top: 9px;
  margin-left: 7px;
}


form{
  width: 90vw;
  display: flex;
  border: 1px solid var(--lines-color);
  background-color: var( --bg_default);
  box-shadow: 0px 0px 10px var(--lines-color);
  border-radius: 10px;

}

.container-search{
margin-left: 50px;
padding-top: 15px;
}

.all-topics h2{
  margin-left: 50px;
}
.cards{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.first-topic{
  border: 1px solid var(--lines-color);
  box-shadow: 0px 0px 10px var(--lines-color);
  border-radius: 10px;
  width:15%;
  background-color: var( --bg_default);
  margin-left: 50px;
  position: relative;
}
.first-topic-img{
  height: 140px;
}
.first-topic-img img{
  width: 100%;
  height: 100%;

} 
.first-topic-descreption{
  margin-left: 15px;
}
.first-topic-descreption  p{
  font-size: 10px;
  font-weight: 600;
}
.icon ion-icon{
  color: goldenrod;
  padding-top: 8px;
  }
.author{
  color: gray;
  font-weight: bold;
}

.footer-paragraph{
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}
.footer-paragraph ion-icon
{
  color:var(--heart-color);
}
/* for fav page*/
.footer2{
  background-color: var( --bg_default);
  width: 100%;
  position: absolute;
  height: 40%;
  top:69vw;
  left:0;
  right: 0;
}
.fav{
  display: flex;
}
.favourite-react ,.favourite-cloud{
  height: 30%;
  width: 15%;
  background-color: var( --bg_default);
  margin-left: 35px;
  border: 1px solid var(--lines-color);
  box-shadow: 0px 0px 10px var(--lines-color);
  border-radius: 10px;
    

}
.favourite-react-img,.favourite-cloud-img{
  height: 100px;
}
.favourite-react-img img,.favourite-cloud-img img{
  width: 100%;
  height: 100%;

}
.favourite-react-descreption,.favourite-cloud-descreption{
  color: var(--body-text);
  font-weight: bold;
  margin-left: 8px;
}
.footer2 > p{
  margin-left: 40px;
  color: var(--body-text);
  font-weight: bold;
  
}
/*end for fav page*/
/* responsive from 320px to 480px */
@media(min-width:320px) and (max-width:480px)
{
  .header-container  p{ 
    font-size: 15px; 
  }
  .favourites-button span
  {
      display: none;
  }
 .dark-mode-button span{
      display: none;
  
  }
  .header-container .dark-mode-button {
    margin-left: 37vw;
}
.triangle-blue {
    margin-top: -28px;
    
}

.triangle-green {
    margin-top: -39px;
    width: 8vw;
}
.the-welcome .welcome-msg {
  text-align: left;
  margin-left: 33px;
  margin-top: 10vw;
}
.paragraph-under-header {
  margin-top: -15px;
  margin-left: 10vw;
  font-size: 11px;
  font-weight: 600;
}
.first-topic{
  width:85%;
  margin-left: 23px;
  }
  form{
    display: block;
    width: 82vw;
  }
  .container-search {
    margin-left: 23px;
    padding-top: 15px;
}
.all-topics h2 {
  margin-left: 23px;
}
.the-select{
  border-top: 1px solid  var(--lines-color);
  
}
.sortlabel-sortselect select {
  border-bottom-left-radius: 0px;

  width: 42vw;
 
}
.filterlabel-filterselect select {

  width: 39.5vw;
}
.filterlabel-filterselect {
 border-top-right-radius: 0;

  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 0px  var(--lines-color);
}
.search-input-icon ion-icon{
  margin-top: 0px;
}
.footer2 {
  position: static;
}
.favourite-react ,.favourite-cloud{
  font-size: 10px;
  font-weight: bold;
  width: 26%;
}

}
/* responsive from 481px to 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .header-container .dark-mode-button {
    margin-left: 26vw;
}
.triangle-blue {
  margin-top: -28px;
}
.triangle-green {
  margin-top: -38px;
  width: 10vw;
}
.paragraph-under-header {
  margin-left: 27vw;
  font-size: 11px;
  font-weight: 600;
}
.search-input-icon input {
  width: 35vw;
}
.container-search {
  margin-left: 40px;
  
}
form {
  width: 75vw;
}
.filterlabel-filterselect select {
  width: 19vw;
}
.sortlabel-sortselect select {
  width: 20vw;
}
.all-topics h2 {
  margin-left: 40px;
  font-size: 18px;
}
.first-topic {
  width: 36%;
  margin-left: 40px;
}
.footer2 {
  top: 475vw;
  bottom: 0;
}
.favourite-react ,.favourite-cloud{
  font-size: 10px;
  font-weight: bold;
  width: 26%;
}
.footer2 {
  position: static;
}
}
/* responsive from 768px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .header-container .dark-mode-button {
    margin-left: 53vw;
}
.triangle-blue {
  margin-top: -41px;
}
.triangle-green {
  margin-top: -51px;
  width: 10vw;
}
.paragraph-under-header {
    margin-left: 36vw;
}
form {
  width: 70vw;
}
.search-input-icon input {
  width: 51vw;
}
.first-topic {
  width: 23%;
}
.footer2 {
  position: static;
}
}
/* responsive more than 1024px */

@media (min-width: 1025px) {
  .header-container .dark-mode-button {
    margin-left: 66vw;
}

}