*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #ffffff;
  --bg_body: #f0f9ff;
  --lines-color: #dddddd;
  --body-text: #333333;
  --heart-color: #dc143c;

}
.dark-mode {
  --brand-primary: #0768ac;
  --brand-secondary: #03c180;
  --bg_default: #1a1a1a;
  --bg_body: #282828;
  --lines-color: #000000;
  --body-text: #ededed;
  --heart-color: #dc143c;
}


body{
  font-family: 'Nunito Sans';
  color: var(--body-text);
  background-color: var( --bg_default);
  min-height: 100vh;
}
.header-container{
  display: flex;
  padding-bottom:10px;
}
.header-container  p{
  margin-left: 30px;
  margin-top: 15px;
  color:var(--brand-primary);
  font-weight: bold; 
  font-size: larger; 
}
.header-container button{
  border: 1px solid var(--lines-color);
  border-radius: 5px;
  background-color: var( --bg_default);
  color: var(--body-text);
  height: 30px;
  margin-top: 15px;
  border: 1px solid var(--lines-color);
  border-radius: 10px;
}
.header-container .favourites-button
{
    margin-left: 5px;
}
.header-container .dark-mode-button{
    margin-left: 72vw;

}

.triangle-container{
  position: relative;
  height: 20px;
}
.triangle-blue {
  position: absolute;
    left: 0;
    top: 0;
    border-left: 89vw solid var(--brand-primary);

    border-bottom: 4vw solid transparent;
    border-top: 0px solid transparent;
    z-index: 2;
}
.triangle-green {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 110vw solid transparent;
    border-top: 4vw solid var(--brand-secondary);
    border-bottom: 0px solid transparent;
    z-index: 1;
}
.the-welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-direction: column;
}
.the-welcome .welcome-msg{
  color:var(--brand-secondary);
  padding-right: 13%;
  font-weight: 700;
  font-size: 1.5rem;
  
}

.main-body{
 background-color:var(--bg_body);
 margin-top: 10px;
 padding: 20px 50px;
 width: auto;
}
.search-input-icon{
  display: flex;
  width: 60%;
}
.search-input-icon input{
  border: none;
  background-color: var( --bg_default);

}
.the-select{
  display: flex;
  gap:0;
  width: 40%;
}
.sortlabel-sortselect{
  display: flex;
  flex-direction: column;
border-right: 1px solid  var(--lines-color);
border-left: 1px solid var(--lines-color);
background-color: var( --bg_default);
width: 50%;
justify-content: center;
padding-top:5px ;
  padding-left: 1rem;
}
.sortlabel-sortselect label{
  font-size: 10px;
  font-weight: 600;
}
.sortlabel-sortselect select{
  
  border: none;
  padding-bottom: 5px;
  background-color: var( --bg_default);
  color: var(--body-text);


}
.filterlabel-filterselect{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px  var(--lines-color);
  width: 50%;
  justify-content: center;
  padding-left: 1rem;

}
.filterlabel-filterselect label{
  font-size: 10px;
  font-weight: 600;
}
.filterlabel-filterselect select{

  border: none;
  
  background-color: var( --bg_default);
  color: var(--body-text);

}
.search-input-icon ion-icon{
  margin-top: 9px;
  margin-left: 7px;
}


form{
  width: 100%;
  display: flex;
  border: 1px solid var(--lines-color);
  background-color: var( --bg_default);
  box-shadow: 0px 0px 10px var(--lines-color);
  border-radius: 10px;
margin-top: 15px;

}

.all-topics h2{
  margin-left: 50px;
  margin-top: 20px;
}
.cards{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100%;
}
.first-topic{
  border: 1px solid var(--lines-color);
  box-shadow: 0px 0px 10px var(--lines-color);
  border-radius: 10px;
  width:285px;
  background-color: var( --bg_default);
  position: relative;
}
.first-topic-img{
  height: 140px;
}
.first-topic-img img{
  width: 100%;
  height: 100%;

} 
.first-topic-descreption{
  margin-left: 15px;
}
.first-topic-descreption  p{
  font-size: 10px;
  font-weight: 600;
}
.icon ion-icon{
  color: goldenrod;
  padding-top: 8px;
  }
.author{
  color: gray;
  font-weight: bold;
}
footer{
  background-color: var(--bg_body);
  padding-bottom: 30%;
}
.footer-paragraph{
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
.footer-paragraph ion-icon
{
  color:var(--heart-color);
}
/* for fav page*/
.footer2{
  background-color: var( --bg_default);
  width: 100%;
  position: absolute;
  height: 40%;
  top:91vw;
  left:0;
  right: 0;
}
.fav{
  display: flex;
}
.favourite-react ,.favourite-cloud{
  height: 30%;
  width: 15%;
  background-color: var( --bg_default);
  margin-left: 35px;
  border: 1px solid var(--lines-color);
  box-shadow: 0px 0px 10px var(--lines-color);
  border-radius: 10px;
    

}
.favourite-react-img,.favourite-cloud-img{
  height: 100px;
}
.favourite-react-img img,.favourite-cloud-img img{
  width: 100%;
  height: 100%;

}
.favourite-react-descreption,.favourite-cloud-descreption{
  color: var(--body-text);
  font-weight: bold;
  margin-left: 8px;
}
.footer2 > p{
  margin-left: 40px;
  color: var(--body-text);
  font-weight: bold;
  
}
/*end for fav page*/
/* responsive from 320px to 480px */
@media(min-width:320px) and (max-width:480px)
{
  .all-topics h2 {
    margin-left: 4px;
}
  .the-select{
    width: 100%;
  }
  .header-container  p{ 
    font-size: 15px; 
  }
  .favourites-button span
  {
      display: none;
  }
 .dark-mode-button span{
      display: none;
  
  }
  .header-container .dark-mode-button {
    margin-left: 37vw;
}

  form{
    width: 100%;
    flex-direction: column;
  }

.the-select{
  border-top: 1px solid  var(--lines-color);
  
}

.search-input-icon ion-icon{
  margin-top: 0px;
}
.footer2 {
  position: static;
}
.favourite-react ,.favourite-cloud{
  font-size: 10px;
  font-weight: bold;
  width: 26%;
}

}
/* responsive from 481px to 768px */
@media (min-width: 481px) and (max-width: 768px) {
.header-container .dark-mode-button {
  margin-left: 37vw;
}
.footer2 {
  top: 475vw;
  bottom: 0;
}
.favourite-react ,.favourite-cloud{
  font-size: 10px;
  font-weight: bold;
  width: 26%;
}
.footer2 {
  position: static;
}
}
/* responsive from 768px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .header-container .dark-mode-button {
    margin-left: 53vw;
}

.footer2 {
  position: static;
}
}
/* responsive more than 1024px */

@media (min-width: 1025px) {
  .header-container .dark-mode-button {
    margin-left: 66vw;
}

}